body {
  margin: 0%;
  width: 100%;
  font-family: sans-serif;
}
nav {
  width: 100%;
  height: 75px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  /* border-bottom: 2px solid rgb(163, 163, 163); */
}
#nav-left,
#nav-right {
  display: flex;
  align-items: center;
  padding: 0 26px;
}
#nav-left img {
  height: 50px;
}
#nav-right img {
  height: 50px;
  float: right;
  border-radius: 50%;
}
h2 {
  padding-left: 5px;
}
/* navbar over */
#main-container {
  height: 100%;
  width: 100%;
  border-top: 2px solid rgb(163, 163, 163);
  display: flex;
}
ul {
  list-style-type: none;
  padding-left: 8px;
}
#side-container {
  width: 170px;
  height: 100vh;
  border-right: 2px solid rgb(163, 163, 163);
  padding: 10px;
  display: flex;
}
li {
  padding: 10px 0;
}
/* sidebar over */
#sub-main {
  width: 100%;
}
#main {
  padding-left: 50px;
  padding-top: 30px;
  width: 87%;
}
.form-sec-1,
.form-sec-2,
.form-sec-3 {
  display: flex;
  justify-content: space-between;
}
.form-sec-3-right {
  width: 450px;
}
.radio-1 {
  display: flex;
}
span {
  color: red;
}
.sec-1-name,
.sec-1-last,
.sec-2-mobile,
.sec-2-email,
.sec-3-branch {
  margin-bottom: 10px;
}
input[type="text"] {
  width: 450px;
  height: 40px;
}
input[type="tel"] {
  width: 450px;
  height: 40px;
}
input[type="email"] {
  width: 450px;
  height: 40px;
}
.form-sec-2,
.form-sec-3 {
  margin-top: 20px;
}
.form-sec-1 {
  margin-top: 35px;
}
select {
  width: 450px;
  height: 40px;
}
.address,
.check-box {
  margin-top: 25px;
}
.btn {
  width: 100%;
  margin-left: 70%;
}
input[type="reset"],
input[type="submit"] {
  height: 30px;
  width: 130px;
  border-radius: 15px;
  border: 0px;
}
input[type="reset"] {
  background-color: rgb(255, 114, 97);
  margin-right: 20px;
}
input[type="submit"] {
  background-color: rgb(59, 185, 137);
}
/* done */
@media screen and (max-width: 1200px) {
  .form-sec-1,
  .form-sec-2,
  .form-sec-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .btn{
    margin-left: 20%;
    margin-top: 10px;
  }
}
