body {
  background-color: rgb(48, 27, 26);
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}
#nav-bar {
  background-color: rgb(83, 50, 97);
  height: 70px;
  display: flex;
  justify-content: space-between;
}
.nav-left img {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  align-self: center;
  margin-left: 20px;
}
.nav-left {
  float: left;
  display: flex;
}
.nav-right {
  float: right;
  align-self: center;
}
a {
  color: white;
  text-decoration: none;
  padding: 0px 20px;
  font-size: large;
}
h2 {
  color: white;
  margin-left: 10px;
  font-size: larger;
  align-self: center;
  letter-spacing: 2px;
}
.main-container {
  height: 300px;
  margin: 20px 10px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(210, 217, 233);
}
.l-box {
  height: 200px;
  background-color: rgb(133, 223, 127);
  width: 25%;
  align-self: center;
  margin: auto 20px;
}
.r-box {
  height: 200px;
  background-color: rgb(133, 223, 127);
  width: 25%;
  align-self: center;
  margin: auto 20px;
}
.l-box > h2 {
  color: black;
}
.r-box > h2 {
  color: black;
}
.para {
  text-align: justify;
  padding: 0px 10px;
}
.frist-container {
  height: 300px;
  background-color: rgb(183, 65, 66);
  margin: 0px 10px;
  display: flex;
}
.frist-sub {
  height: 260px;
  background-color: rgb(218, 218, 218);
  align-self: center;
  width: 97%;
  margin: auto;
  border: 5px solid green;
}
@media screen and (max-width: 1100px) {
  .l-box {
    width: 100%;
  }
  .r-box {
    width: 100%;
  }
}
@media screen and (max-width: 750px) {
  a {
    display: none;
  }
  .l-box {
    height: auto;
    margin-bottom: 5px;
  }
  .r-box {
    height: auto;
  }
  .main-container {
    flex-direction: column;
    height: auto;
    padding: 5px;
  }
  .frist-container {
    margin-bottom: 5px;
  }
}
